button{
    background-color: black;
    color: white;
}

#simplify{
    font-size: 100px;
}
.landing{
   list-style: none; 
}
.store{
    display: flex;
    gap: 50%;
    text-align: center;
}
#lady{
    background-color: pink;
    border-radius: 30px;
    width: 600px;
}
#marvin{
    width: 250px;
  
}
#nav2{
    display: flex;
    gap: 10%;
    list-style: none;
}
